# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local
# .env.production - Uncommitted for Netlify deployment

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# OS
.DS_Store
*.pem
Thumbs.db

# Debug
*.cpuprofile

# Turbo
.turbo

# IDEs
.vscode/*
!.vscode/extensions.json
.idea

# HLS output
services/stream-gateway/hls/**
tmp/**

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Keystore files
*.jks
*.keystore

# Database
*.db
*.db-journal
